button{
    padding: 5px 15px;
    width: fit-content;

    color: #FFFDF5;
    background-color: #364C84;
    border: #E7F1A8 1px solid;
    border-radius: 5px;

    cursor: pointer;
    font-size: 1em;
}

button:hover{
    background-color: #E7F1A8;
    border: #364C84 1px solid;
    color: #364C84;
}
